@model AspNetCoreMvcIdentity.Models.ViewModels.Ogretmen

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OgretimElemani</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OgretimElemaniId" />
            <div class="form-group">
                <label asp-for="OgretimElemaniAdiSoyadi" class="control-label"></label>
                <input asp-for="OgretimElemaniAdiSoyadi" class="form-control" />
                <span asp-validation-for="OgretimElemaniAdiSoyadi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OgretimElemaniKisaltmaa" class="control-label"></label>
                <input asp-for="OgretimElemaniKisaltmaa" class="form-control" />
                <span asp-validation-for="OgretimElemaniKisaltmaa" class="text-danger"></span>
              </div>
            <div class="form-group">
              <label asp-for="SecilenBolumler" class="control-label"></label>
@Html.ListBoxFor(
x => x.SecilenBolumler, 
new MultiSelectList(Model.TumBolumler, "BolumId", "BolumAdi" ),
new { @class = "selectpicker form-control", multiple = "true"} )


                <span asp-validation-for="SecilenBolumler" class="text-danger"></span>
              </div>



            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
